h3{
	font-size: 16px;
}

.deleteTodo{
	position: absolute;
	right: 7px;
	top: 5px;
	width: 10px;
	height: 20px;
	font-weight: bold;
	cursor: pointer;
	color: red;
	font-size: 12px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.list-time{
	font-size: 12px;
	text-align: right;
}

.edit-save{
	margin-left: 10px;
}