<div *ngIf="!editStatus">
	<div class="deleteTodo" (click)="deleteTodo(todo.id)">X</div>
	<h3>{{ todo.name }}</h3>
	<p>{{ todo.text }}</p>
	<p class="list-time">{{ todo.date | date: 'dd.MM.yyyy' }}</p>
	<br>
	<button class="edit-todo" (click)="editTodo()">Edit</button>	
	<br><br>
</div>

<div *ngIf="editStatus">
	<br>
	<input type="text" [(ngModel)]="name"><br><br>
	<textarea [(ngModel)]="text" rows="5"></textarea><br><br>

	<button class="edit-cancel" (click)="cancelEditTodo()">Cancel</button>
	<button class="edit-save" (click)="editTodoSave(todo.id)">Save</button>
</div>
	