<h3>Filter</h3>
<div class="filterLabel">Filter by name:</div>
<input type="text" [(ngModel)]="todoName" (input)="filterName()"><br><br>

<div class="filterLabel">Filter by date:</div>
<select class="filterDate" [(ngModel)]="todoDate" (change)="filterDate()">
  <option value="" selected="selected"></option>
  <option value="{{ date }}" *ngFor="let date of todosDates">{{ date | date: 'dd.MM.yyyy' }}</option>
</select>