<h3>Add todo</h3>
<input type="text" [(ngModel)]="todo.todoName" placeholder="Todo name"><br><br>
<textarea name="txt"cols="20" rows="5" [(ngModel)]="todo.todoText" placeholder="Todo text"></textarea><br><br>
<button (click)="addTodo()">Add todo</button><br><br>