<div class="list">
	<ul>				
		<li *ngFor="let todo of todos | slice:pagFirst:pagLast">
			<app-list-item
				[todo]="todo"						
			></app-list-item>			
		</li>
	</ul>
	<div *ngIf="!todos.length">
		<h4>Empty!</h4>
	</div>
</div>