.list{
	flex: 1;
}

.list ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.list ul li{
	position: relative;
	list-style: none;
	border: 1px solid #000000;
	flex: 0 0 170px;
	margin: 10px;
	padding: 0 10px;

}