.pagination{
	display: flex;
	justify-content: center;
}

.pagination li{
	list-style: none;	
	margin: 10px;
}

.pagination li span{
	display: inline-block;
	padding: 5px;	
	cursor: pointer;
	color: #000000;
	background: #ffffff;
}

.pagination .active span{
	color: #ffffff;
	background: #C3002F;
}

