<div *ngIf="todos.length > pagStep">    	
	<ul class="pagination">
		<li 
			*ngFor="let item of pagCount; let myIndex = index" 
			(click)="activeClass(myIndex)" 
			[ngClass]="{active: myIndex === activeIndex}"
		>
			<span (click)="goPagination(myIndex + 1)">
				{{ myIndex + 1 }}
			</span>
		</li>
	</ul>	
</div>
